{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" class="boxed csstransforms3d uz">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <title>O‘zBA Markaz</title>
    <meta name="description" content="Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi">
    <meta name="keywords" content="Navoiy viloyat Oliy ta’lim, fan va innovatsiyalar boshqarmasi">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="robots" content="index, follow"/>

    <!-- CSS Files -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/engine.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/slider-pro.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/flatpickr.css' %}"/>
<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme6a79.css@ver=0.6.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}"/>
<link rel="stylesheet" href="{% static 'css/theme-animate.css' %}"/>
<link rel="stylesheet" href="{% static 'css/defaultb3e8.css@ver=0.1.css' %}"/>
<link rel="stylesheet" href="{% static 'css/styleac28.css@ver=0.8.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style-secondb3e8.css@ver=0.1.css' %}"/>
<link rel="stylesheet" href="{% static 'css/special.css' %}"/>
<link rel="stylesheet" href="{% static 'css/stacktable.css' %}"/>
<link rel="stylesheet" href="{% static 'css/animate.css' %}"/>
<link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
<link rel="stylesheet" href="{% static 'css/gspeech.css' %}"/>
<link rel="stylesheet" href="{% static 'css/the-tooltip.css' %}"/>

<!-- JS Files -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.fdate.js' %}"></script>
<script src="{% static 'js/audio.min.js' %}"></script>
<script src="{% static 'js/printThis.js' %}"></script>
<script src="{% static 'js/color.js' %}"></script>
<script src="{% static 'js/jQueryRotate.2.1.js' %}"></script>
<script src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/mediaelement-and-player.min.js' %}"></script>
<script src="{% static 'js/gspeech.js' %}"></script>
<script src="{% static 'js/gspeech_pro.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/stacktable.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>


</head>
<body>
<div class="special-top">
    <div class="container-user">
        <div class="row">
            <div class="col-md-12">
                <div class="special-settings">
                    <div class="special-settings-wrapper clearfix">
                        <div class="a-fontsize">
                            {% blocktrans %}Shrift o'lchami: {% endblocktrans %}
                            <a class="a-fontsize-small" data-set="fs-small" href="/#"
                               title="Уменьшенный размер шрифта">A</a>
                            <a class="a-fontsize-normal smallFont" href="/#" data-set="fs-normal"
                               title="Нормальный размер шрифта">A</a>
                            <a class="bigFont" href="/#" data-set="fs-bigFont"
                               title="Увеличенный размер шрифта">A</a>
                        </div>
                        <div class="a-colors">
                            {% blocktrans %} Sayt rangi: {% endblocktrans %}
                            <a class="a-color1" data-set="color1" href="/#" title="Черным по белому">A</a>
                            <a class="a-color2" data-set="color2" href="/#" title="Желтым по черному">A</a>
                            <a class="a-color3" data-set="color3" href="/#"
                               title="Зеленым по темно-коричневому">A</a>
                            <a class="a-color4" data-set="color4" href="/#"
                               title="Коричневым по бежевому">A</a>
                        </div>
                        <div class="norm-version">
                            <a href="/#" id="normalversion" class="resetFont" data-set="normalversion"
                               title="Сайтнинг тўлиқ талқини">{% blocktrans %} Saytning to'liq talqini {% endblocktrans %}</a>
                        </div>
                    </div>
                    <!-- .special-settings-wrapper -->
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-top">
    <div class="container-user">
        <div class="row">
            <div class="col-md-12">
                <div class="special-menu">
                    <ul>
                        <li>
                            <a href="/">
                                <div class="icon-bg"><i class="fa fa-home" aria-hidden="true"></i></div>
                                <span>
                                   {% blocktrans %} Bosh sahifa  {% endblocktrans %}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="icon-bg"><i class="fa fa-sitemap" aria-hidden="true"></i></div>
                                <span>  {% blocktrans %} Sayt xaritasi {% endblocktrans %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#" class="btn-adaptive">
                                <div class="icon-bg"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                <span>  {% blocktrans %} Mobil versiya {% endblocktrans %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="/#" id="specialversion">
                                <div class="icon-bg"><i class="fa fa-eye" aria-hidden="true"></i></div>
                                <span>  {% blocktrans %} Zaif ko'ruvchilar uchun {% endblocktrans %}</span>
                            </a>
                        </li>
                        <li>
                            <!-- <a href="/admin">
                                <div class="icon-bg"><i class="fa fa-sign-in" aria-hidden="true"></i></div>
                                <span>{% blocktrans %} Tizimga kirish {% endblocktrans %}</span>
                            </a> -->
                        </li>
                    </ul>
                </div>
                
                <!-- Qidiruv va til tanlash qismi -->
                <div style="display: flex; align-items: center; justify-content: flex-end; margin-top: 10px;">
                    <div class="search" style="margin-right: 15px;">
                        <form method="post">
                            <input type="text" name="story" placeholder="Saytdan izlash..">
                            <input type="hidden" name="do" value="search">
                            <input type="hidden" name="subaction" value="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    
                    <div class="language-switcher">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if request.LANGUAGE_CODE == 'uz' %}O'zbekcha{% elif request.LANGUAGE_CODE == 'en' %}English{% else %}Русский{% endif %} 
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/uz{{ request.path|slice:'3:' }}">O'zbekcha</a></li>
                                <li><a href="/en{{ request.path|slice:'3:' }}">English</a></li>
                                <li><a href="/ru{{ request.path|slice:'3:' }}">Русский</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="header">
    <div class="header-body">
        <div class="header-container container-user">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo js-uni-animated-first">
                        <div class="header-logo">
                            <a href="/">
                                <img style="filter: drop-shadow(2px 4px 6px #3b5998);width: 130px; background:padding-box;border-radius: 10px;float: left;"
                                     src="/static/uploads/logo.png" alt=""/>
                            </a>
                        </div>
                        <div class="header-logo-title">
                            <a href="/">
                                
                              <h3></h3>
                                <h4><span>{% blocktrans %}O‘ZBEKISTON BADIIY AKADEMIYASI HUZURIDAGI{% endblocktrans %}</span></h4>
                                <h4><span>{% blocktrans %}BADIIY TA’LIM YO‘NALISHLARIDA PEDAGOG VA MUTAXASSIS{% endblocktrans %}</span></h4>
                                <h4><span>{% blocktrans %}KADRLARNI QAYTA TAYYORLASH HAMDA ULARNING{% endblocktrans %}</span></h4>
                                <h4><span>{% blocktrans %}MALAKASINI OSHIRISH MARKAZI{% endblocktrans %}</span></h4>
                                <h5>
                                    <p><span>{% blocktrans %} rasmiy veb sayti {% endblocktrans %}</span></p>
                                </h5>
                            </a>
                        </div>
                    </div>
                    <div class="top-block">
                        <div class="phone">
                            <div class="phone">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="/#" style="padding-left: 0;">+998 (79) <span>220-64-40</span></a>
                            </div>
                            <div class="email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="mailto:navoiy_kasb-hunar@exat.uz">navoiy_kasb-hunar@exat.uz</a>
                            </div>
                            <div class="link">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <a href="/"></a>
                            </div>
                        </div>
                        <!-- <div class="flag">
                            <a href="https://constitution.uz/oz/pages/symbols" target="_blank"> <img
                                    src="/static/images/flag1.png" alt=""/></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="header-nav">
            <div class="mobile-title-menu">Меню</div>
            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main"><i
                    class="fa fa-bars"></i></button>
            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                <nav>
                    <ul class="nav nav-pills" id="mainNav">
                        <li class="dropdown"><a href="/boshqarma-haqida/"><span>  {% blocktrans %}Markaz haqida {% endblocktrans %}</span> </a>
                            <ul class="dropdown-menu">
                                <!-- <li><a href=""><span>Boshqarma tarixi</span> </a> -->

                                </li>
                                <li><a href="/boshqarma-haqida/rahbariyat"><span>  {% blocktrans %} Tarkibiy tuzilma {% endblocktrans %}</span> </a>

                                </li>
                                <!-- <li><a href=""><span>Funktsiya va vazifalar</span> </a> -->

                                </li>
                                <li><a href="/boshqarma-haqida/erishilgan-yutuqlar"><span>  {% blocktrans %} Erishilgan yutuqlar {% endblocktrans %}</span> </a>

                                </li>
                                <li><a href="/boshqarma-haqida/qabul-jadvali/"><span>{% blocktrans %} Qabul jadvali {% endblocktrans %}</span> </a>
 
                                </li>
                                <li><a href="/boshqarma-haqida/ish-urin"><span>   {% blocktrans %} Bo‘sh ish o‘rinlar {% endblocktrans %}</span> </a>

                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a
                                href="#"><span>  {% blocktrans %} Normativ hujjatlar {% endblocktrans %}</span> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="https://lex.uz/uz/law_collection/"><span>  {% blocktrans %} O`zbekiston Respuplikasi Qonunlari {% endblocktrans %}</span>
                                    </a>

                                </li>
                                <li>
                                    <a href="https://president.uz/"><span>  {% blocktrans %}  Prezident qaror va farmonlari {% endblocktrans %}</span>
                                    </a>

                                </li>
                                <li><a href="https://gov.uz/oz/edu/"><span>  {% blocktrans %} Oliy ta’lim, fan va innovatsiyalar vazirligi {% endblocktrans %}</span>
                                </a>

                                </li>
                                <li>
                                    <a href="https://lex.uz/docs/5013007"><span>  {% blocktrans %} O‘zbekiston Respublikasining Ta’lim to‘g‘risida Qonuni {% endblocktrans %}</span>
                                    </a>

                                </li>
                                <li><a href="https://gov.uz/oz/iiv/pages/o-z-kuchini-yo-qotgan-me-yoriy-huquqiy-hujjatlar/"><span>  {% blocktrans %} O'z kuchini yo‘qotgan hujjatlar {% endblocktrans %}</span>
                                </a>

                                </li>
                            </ul>
                        </li>
       
                        <!-- <li><a href="https://edunavoiy.uz/ochiq-malumotlar/"><span>  {% blocktrans %}Ochiq ma`lumotlar {% endblocktrans %}</span> </a> -->

                        </li>
                        <li class="dropdown"><a href="/matbuot-xizmati/"><span>  {% blocktrans %} Matbuot xizmati {% endblocktrans %}</span> </a>
                            <ul class="dropdown-menu">
                                <li><a href="/matbuot-xizmati/yangiliklar/"><span>  {% blocktrans %} Yangiliklar {% endblocktrans %}</span> </a>

                                </li>
                                <li><a href="/matbuot-xizmati/elon-va-tadbirlar/"><span>  {% blocktrans %} E'lon va tadbirlar {% endblocktrans %}</span>
                                </a>

                                </li>
                                <!-- <li><a href="https://edunavoiy.uz/matbuot-xizmati/mediateka/"><span>  {% blocktrans %} Media   teka {% endblocktrans %}</span> -->
                                </a>

                                </li>
                            </ul>
                        </li>
                        <li><a href="https://mt.uzbamarkaz.uz"><span>{% blocktrans %}Masafaviy ta'lim platformasi{% endblocktrans %} </span> </a>

                        </li>
                                        </li>
                        <li><a href="https://pubhtml5.com/bookcase/wfdoc/"><span>{% blocktrans %}Ilmiy jurnal{% endblocktrans %} </span> </a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="clearfix"></div>
<div class="left-img">
    <img src="https://edunavoiy.uz/templates/Default/images/" alt=""/>
</div>
<div class="right-img">
    <img src="https://edunavoiy.uz/templates/Default/images/" alt=""/>
</div>


{% block content %}
{% endblock content %}

<div class="fixed-block">
                    <a href="/murojaatlar/" class="feed-button" style="background: url(/static/images/human-feedback-uz.png);"> </a>
                </div>

<div id="footer-top">
    <div class="container-user">
        <div class="">
            <div class="footer-top-block">
                <div class="footer-top-item">
                    <div class="calendar">
                        <div id="calendar-layer">

                            <div class="flatpickr-month">
                                <a class="monthlink" onclick="doCalendar('09','2024','right'); return false;"
                                   href="https://edunavoiy.uz/2024/09/" title="Предыдущий месяц"><span
                                        class="flatpickr-prev-month" style="display: block;"><i
                                        class="fa fa-chevron-left" aria-hidden="true"></i></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="flatpickr-current-month">
                        <span class="cur-month">Oktyabr</span>
                    </span>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a class="monthlink"
                                                           onclick="doCalendar('11','2024','left'); return false;"
                                                           href="#" title="Следующий месяц"><span
                                    class="flatpickr-next-month" style="display: block;"><i class="fa fa-chevron-right"
                                                                                            aria-hidden="true"></i></span></a>
                            </div>
                            <table id="calendar" class="calendar">
                                <th class="workday">Du</th>
                                <th class="workday">Se</th>
                                <th class="workday">Ch</th>
                                <th class="workday">Pa</th>
                                <th class="workday">Ju</th>
                                <th class="weekday">Sh</th>
                                <th class="weekday">Ya</th>
                                </tr>
                                <tr>
                                    <td colspan="1">&nbsp;</td>
                                    <td class="day">1</td>
                                    <td class="day">2</td>
                                    <td class="day">3</td>
                                    <td class="day-active-v day-current"><a class="day-active-v"
                                                                            href="2024/10/04//"
                                                                            title="Все публикации за 04 Oktyabr 2024">4</a>
                                    </td>
                                    <td class="weekday">5</td>
                                    <td class="weekday">6</td>
                                </tr>
                                <tr>
                                    <td class="day">7</td>
                                    <td class="day">8</td>
                                    <td class="day">9</td>
                                    <td class="day">10</td>
                                    <td class="day">11</td>
                                    <td class="weekday">12</td>
                                    <td class="weekday">13</td>
                                </tr>
                                <tr>
                                    <td class="day">14</td>
                                    <td class="day">15</td>
                                    <td class="day">16</td>
                                    <td class="day">17</td>
                                    <td class="day">18</td>
                                    <td class="weekday">19</td>
                                    <td class="weekday">20</td>
                                </tr>
                                <tr>
                                    <td class="day">21</td>
                                    <td class="day">22</td>
                                    <td class="day">23</td>
                                    <td class="day">24</td>
                                    <td class="day">25</td>
                                    <td class="weekday">26</td>
                                    <td class="weekday">27</td>
                                </tr>
                                <tr>
                                    <td class="day">28</td>
                                    <td class="day">29</td>
                                    <td class="day">30</td>
                                    <td class="day">31</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="footer-top-item">
                    <div class="title-block">
                        <h1>{% blocktrans %} Obuna bo'lish {% endblocktrans %}</h1>
                    </div>
                    <div class="subscription">
                        <div class="advert-item item">
                            <p>{% blocktrans %} E-mail manzilingizni kiritgan holda yangiliklar va maslahatlarni to‘g‘ridan-to‘g‘ri
                                elektron pochtangiz orqali qabul qilib oling {% endblocktrans %}</p>
                        </div>
                        <form action="/#" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <div style="display: none;">
                                <input type="hidden" name="csrf_test_name" value="2edbb6bf4a46311219b53223b3eb8450"/>
                            </div>
                            <input type="email" placeholder="E-mail pochtangizni kiriting" name="subscribe"
                                   required="required"/>
                            <button type="submit" class="btn subscribe-btn">{% blocktrans %} Obuna bo'lish {% endblocktrans %}</button>
                        </form>
                    </div>
                </div>
                <div class="footer-top-item">
                    <div class="title-block">
                        <h1>{% blocktrans %}E'lonlar {% endblocktrans %} </h1>
                    </div>
                    <div id="owl-advert" class="owl-carousel owl-theme">
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/208-dual-talim-jarayonlari.html"
                               target="_blank">
                                <h4>{% blocktrans %} Dual ta’lim jarayonlari {% endblocktrans %}</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/207-1-oktabr-oqituvchi-va-murabbiylar-kuni.html"
                               target="_blank">
                                <h4>{% blocktrans %} 1-oktabr “O‘qituvchi va murabbiylar kuni {% endblocktrans %}”</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/206-professional-talim-pedagoglari-attestacijasi-2024.html"
                               target="_blank">
                                <h4>Профессионал таълим педагоглари аттестацияси-2024</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/205-mirzo-ulugbek-vorislari-respublika-tanlovi.html"
                               target="_blank">
                                <h4>{% blocktrans %} “Mirzo Ulugʻbek vorislari” Respublika tanlovi {% endblocktrans %}</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="matbuot-xizmati/e039lon-va-tadbirlar/204-talabalar-festivali.html" target="_blank">
                                <h4>“{% blocktrans %} Talabalar festivali {% endblocktrans %}”</h4>
                            </a>
                        </div>
                        <div class="advert-item item">
                            <a href="boshqarma-haqida/erishilgan-yutuqlar/203-barkamol-avlod-2023-sport-musobaqasida-muvoffaqiyatli-birinchi-qadam.html"
                               target="_blank">
                                <h4>{% blocktrans %} BARKAMOL AVLOD-2023 SPORT MUSOBAQASIDA MUVOFFAQIYATLI BIRINCHI QADAM {% endblocktrans %}.</h4>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <hr/>
        <div class="links-main">
            <div class="title-block">
                <h1>{% blocktrans %} Foydali havolalar {% endblocktrans %}</h1>
            </div>
            <div class="links">
                <div id="owl-links" class="owl-carousel owl-theme">

                    <div class="item">
                        <div class="links-item">
                            <a href="http://www.gov.uz/uz" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/my_gov.png" width="40" height="40"/>
                                </div>
                                <h3>{% blocktrans %} O‘zbekiston Respublikasi hukumat portali {% endblocktrans %}</h3>
                                <p>http://www.gov.uz/uz</p>
                            </a>
                        </div>
                        <div class="links-item">
                            <a href="https://kommunal.uz/uz" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/logo_mjko.svg" width="40" height="40"/>
                                </div>
                                <h3>{% blocktrans %} O‘zbekiston Respublikasi Oliy ta'lim, fan va innovatsiyalar vazirligi {% endblocktrans %}</h3>
                                <p>https://edu.uz</p>
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="links-item">
                            <a href="https://edunavoiy.uz/uz/url/file/links/soliq.uz/uz.html" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/soliq.svg" width="40" height="40"/>
                                </div>
                                <h3>{% blocktrans %}  O‘zbekiston Respublikasi Davlat soliq qo‘mitasi {% endblocktrans %}</h3>
                                <p>http://soliq.uz/uz</p>
                            </a>
                        </div>
                        <div class="links-item">
                            <a href="http://openinfo.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/openinfo.png" width="40" height="40"/>
                                </div>
                                <h3>{% blocktrans %}  O‘ZBEKISTON RESPUBLIKASI KORRUPSIYAGA QARSHI KURASHISH AGENTLIGI {% endblocktrans %}</h3>
                                <p>https://anticorruption.uz</p>
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="links-item">
                            <a href="http://lex.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/lex.png"/>
                                </div>
                                <h3>{% blocktrans %}  O‘zbekiston Respublikasi Qonun hujjatlari ma’lumotlari miliiy bazasi {% endblocktrans %}</h3>
                                <p>http://lex.uz</p>
                            </a>
                        </div>

                        <div class="links-item">
                            <a href="http://stat.uz/" target="_blank">
                                <div class="links-img">
                                    <img src="/static/images/links/gerb.png" width="40" height="40"/>
                                </div>
                                <h3>{% blocktrans %}  O‘zbekiston Badiiy akademiyasi {% endblocktrans %}</h3>
                                <p>https://art-academy.uz/</p>
                            </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
</div>
<div id="footer">
    <div class="container-user">
        <div class="">
            <div class="footer-main">
                <div class="copyright">
                    <img src="/static/uploads/logo.png" width="80 "
                         style="width: 130px;background: padding-box;border-radius: 10px;float: left;"/>

                    <div class="copyright-text">
                     <style>
    h2 {
        color: white;   /* Oq yozuv */
    }
</style>

<h2>{% blocktrans %}O‘zBA huzuridagi Markaz{% endblocktrans %}</h2>
                        <div class="copy">
                            {% blocktrans %}  2025 © Barcha huquqlar himoyalangan. {% endblocktrans %}<br/>
                        </div>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-info-top">
                        <div class="phone">
                            <i class="fa fa-facebook" aria-hidden="true"></i>

                            <p>
                                <a href="https://www.facebook.com/Uzba.huzuridagi.markaz" style="padding-left: 0;">Facebook</a>
                            </p>
                        </div>
                        <div class="email">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                            <a href="https://www.instagram.com/uzba.huzuridagi.markaz">Instagram</a>
                        </div>
                        <div class="link">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                            <a href="https://t.me/ozba_huzuridagi_markazbot">Telegram</a>
                        </div>
                        <div class="link">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                            <a href="https://www.youtube.com/channel/UC3GlQle7FAOwZjkd9WfGD3g">You Tube</a>
                        </div>
                    </div>
                    <div class="footer-info-bottom">
                        <div class="address">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <linl style="color: #ffffff;" href="https://maps.app.goo.gl/GuTE6Gm433qn5iCQ9">
                           <p>{% blocktrans %}Toshkent shahri Uchtepa tumani Shirin ko'chasi 1A-uy{% endblocktrans %}</p>
                        </div>

                        <div class="site-info-footer">
                            <ul>
                                <li>
                                    {% blocktrans %} Saytning so'nggi yangilangan sanasi: {% endblocktrans %}<br/>
                                    04-окт.2025-yil Soat: 10:42:33

                                </li>
                            </ul>
                        </div>
                    </div>

                <div class="footer-info-bottom-2">
                    
                    <style>
    .site-error a {
        color: white;        
        text-decoration: none; 
    }
    
</style>

    <div class="site-error">
        <p>{% blocktrans %}  Murojaat uchun telefon: {% endblocktrans %}</p>
        <p>{% blocktrans %}  +998 77 363 38 36 {% endblocktrans %}</p>

        <p>
            Sayt yaratuvchisi:
            <a href="https://t.me/Boborahim_00" target="_blank">Boborahim</a>
        </p>
    </div>
</div>

                        
                       <!-- <div>
                        <div class="dev"><small>Sayt yaratuvchisi: <a href="">Boborahim</a></small></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<span style="" id="gs_tooltip_title">
            <span class="the-tooltip top left dark-midnight-blue"><span class="tooltip_inner">Белгиланган матнни тинглаш учун қуйидаги тугмани босинг</span></span>
        </span>
<span style="position: absolute; margin-top: -50000px;" id="gs_tooltip">
            <span class="the-tooltip bottom left dark-midnight-blue">
                <span class="tooltip_inner powered_by_3 powered_by">Powered by <a
                        href="http://2glux.com/projects/gspeech" target="_top" class="backlink_a">GSpeech</a></span>
            </span>
        </span>
<div id="sound_container" class="sound_div sound_div_basic size_1 speaker_32" title="" style="">
    <div id="sound_text"></div>
</div>
<div id="sound_audio"></div>

<!-- Updated Static JavaScript Files -->
<script src="{% static 'js/gs.js' %}"></script>
<script src="{% static 'js/jquery-cookie.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/scrollreveal.min.js' %}"></script>
<script src="{% static 'js/special.js' %}"></script>
<script src="{% static 'js/customb3e8.js' %}"></script>
<script src="{% static 'js/theme.init.js' %}"></script>
<script src="{% static 'js/confirmDate.js' %}"></script>
<script src="{% static 'js/weekSelect.js' %}"></script>

</body>
</html>